.WhyChooseUs {
  color: rgb(4, 4, 90);
}
.whychooseusmain {
  border: 6px solid rgb(4, 4, 90);
  width: 80%;
  position: relative;
  width: 100%;
  height: 270px;
}
.wcs-img img {
  width: 100%;
  height: 100%;
}
.wcs-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 20%;
  left: 10%;
  z-index: 5;
}
.deals-icon {
  display: inline-block;
  text-align: center;
}
.deals-icon i {
  background-color: rgb(240, 240, 240);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 45px;
  border: 3px solid rgb(4, 4, 90);
}
.custom-button {
  background-color: transparent;
  border: 1px solid rgb(4, 4, 90);
  border-radius: 50px;
  font-size: 15px;
  padding: 7px 30px;
  color: rgb(4, 4, 90);
  transition: ease all 0.25s;
}
.custom-button:hover {
  background-color: rgb(4, 4, 90);
  color: white;
}
